name: mattermost-zt-webhook
on:
  issues:
    types: [opened, closed]
  issue_comment:
  pull_request_review:
    types: [submitted]
  pull_request_review_comment:
  pull_request:
    types: [opened, reopened]
  push:
  fork:
  release:
    types: [released]
  workflow_dispatch:

jobs:
  mattermost-zt-webhook:
    runs-on: ubuntu-latest
    name: POST Webhook
    steps:
    - uses: hanzozt/zt-mattermost-action-py@v1
      if: |
        github.repository_owner == 'hanzozt'
        && ((github.event_name != 'pull_request_review')
        || (github.event_name == 'pull_request_review' && github.event.review.state == 'approved'))
      with:
        ztId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
        webhookUrl: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}
        eventJson: ${{ toJson(github.event) }}
        senderUsername: "GitHubZ"
